.skills-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.skill-bar {
    height: 12px;

    background: #e2e8f0;

    border-radius: 10px;

    overflow: hidden;
}

.skill-progress {
    width: 95%;
    height: 100%;

    background: linear-gradient(
        90deg,
        var(--color-primary),
        var(--color-secondary)
    );
}

@media (max-width: 768px) {

    .skills-grid {
        grid-template-columns: 1fr;
    }
}